<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="UTF-8">
    <title>login page</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<!--<form id="login-form" method="post" action="login">-->
<!--    <label>username:</label>-->
<!--    <input type="text" name="username" placeholder="please enter username"></br>-->
<!--    <label>password:</label>-->
<!--    <input type="password" name="password" placeholder="please enter password"></br>-->
<!--    <input type="submit" name="Confirm">-->
<!--</form>-->

<div id="demo">
    <label>username:</label>
    <input type="text" name="username" placeholder="please enter username" v-model="username"></br>
    <label>password:</label>
    <input type="password" name="password" placeholder="please enter password" v-model="password"></br>
    <button @click="_login">login</button>
    <button @click="_axiosLogin">axiosLogin</button>
    <button @click="_reset">reset</button>

    <el-button @click="visible = true">Button</el-button>
    <el-diglog :visible.sync="visible" title="Hello World!">
        <p>Try Element</p>
    </el-diglog>
</div>

</body>
<!--<script th:src="@{/static/js/vue.js}"></script>-->
<!--<script th:src="@{/static/js/axios.js}"></script>-->
<script src="../static/js/vue.js"></script>
<script src="../static/js/axios.js"></script>
<script>

    let login = new Vue({
        el: '#demo',
        data: {
            username: null,
            password: null,
            visible: false
        },
        methods: {
            _login() {
                console.log('input username is : ' + this.username + ' input password is : ' + this.password);
                const authentication = {
                    username: this.username,
                    password: this.password
                }
                console.log(authentication);
                let stringify = JSON.stringify(authentication);
                console.log(stringify);

                let xmlHttpRequest = new XMLHttpRequest();
                xmlHttpRequest.open("POST", "/login", true);
                xmlHttpRequest.setRequestHeader("Content-Type", "application/json");
                xmlHttpRequest.send(stringify);
                xmlHttpRequest.onreadystatechange = function () {
                    if (xmlHttpRequest.readyState === 4 && xmlHttpRequest.status === 200) {
                        console.log('async request success');
                        let responseText = xmlHttpRequest.responseText;
                        console.log('result data is : ' + responseText);
                        let data = JSON.parse(responseText);
                        console.log('data is : ' + data);
                        alert(data.msg);
                    }
                }
            },
            _axiosLogin() {
                let username = this.username;
                let password = this.password;
                axios.post("http://localhost:9096/login", {
                    username,
                    password
                }).then(function (response) {
                    console.log(response);
                    if (response.data?.code) {
                        console.log(response.data.code);
                        console.log(response.data.msg);
                        console.log(response.data.data);
                    }
                }).catch(function (error) {
                    console.log(error);
                })
            },
            _reset() {
                this.username = null;
                this.password = null;
            }
        }
    });
</script>
</html>