<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="UTF-8">
    <title>login page</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="../static/js/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="../static/js/axios.js"></script>
    <style>
        .el-header, .el-footer {
            background-color: #B3C0D1;
            color: #333;
            text-align: center;
            line-height: 60px;
        }

        .el-aside {
            background-color: #D3DCE6;
            color: #333;
            text-align: center;
            line-height: 200px;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            text-align: center;
            line-height: 160px;
        }

        body > .el-container {
            margin-bottom: 40px;
        }

        .el-container:nth-child(5) .el-aside,
        .el-container:nth-child(6) .el-aside {
            line-height: 260px;
        }

        .el-container:nth-child(7) .el-aside {
            line-height: 320px;
        }

        /*.el-input{*/
        /*    width: 300px;*/
        /*}*/
    </style>
</head>
<body>
<el-container id="login">
    <el-header width="200px">Header</el-header>
    <el-main>
        <el-form :model="loginForm" :rules="rules" ref="loginForm" status-icon label-width="100px"
                 class="demo-ruleForm">
            <el-form-item label="用户名" prop="username">
                <el-input type="text" autocomplete="off" v-model="loginForm.username"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password">
                <el-input type="password" autocomplete="off" v-model="loginForm.password"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="_submitForm('loginForm')">提交</el-button>
                <el-button @click="_reset('loginForm')">重置</el-button>
            </el-form-item>
        </el-form>
    </el-main>
    <el-footer>Footer</el-footer>
</el-container>
</body>
<script>

    /**
     * 在单独按需引入element组件时，message组件需要挂载到Vue全局对象上，而不是用Vue.use(Message)，
     * 这是message组件与其他组件不同的地方。其中与之相同、需要挂载到Vue全局对象上的，还有confirm组件。
     */
        // import { Message } from 'element-ui'
        // Vue.use(Message)
        // Vue.prototype.$message = Message

    let login = new Vue({
            el: '#login',
            data() {
                return {
                    /**
                     * 参数
                     */
                    loginForm: {
                        username: '',
                        password: '',
                        visible: false,
                        responseMsg: 'Please Enter Your Username Or Password!'
                    },
                    /**
                     * 校验规则
                     */
                    rules: {
                        username: [
                            {required: true, message: '请输入用户名!', trigger: 'blur'},
                            {min: 4, max: 12, message: '输入字符长度在4~12之间!', trigger: 'blur'}
                        ],
                        password: [
                            {required: true, message: '请输入用户名!', trigger: 'blur'},
                            {min: 4, max: 12, message: '输入字符长度在4~12之间!', trigger: 'blur'}
                        ]
                    }
                }
            },
            methods: {
                /**
                 * 登录
                 * @private
                 */
                _submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            console.log('username is : ' + this.loginForm.username + ' password is : ' + this.loginForm.password);
                            let username = this.loginForm.username;
                            let password = this.loginForm.password;

                            axios.post("http://localhost:9096/login", {
                                username, password
                            }).then((response) => {
                                console.log(response);
                                if (response.data?.code) {
                                    console.log(response.data.code);
                                    console.log(response.data.msg);
                                    console.log(response.data.data);
                                    // alert(response.data.data);
                                }
                                this.showMsg(response.data.data, 'success');
                            }).catch(function (error) {
                                console.log('error message is : ' + error);
                            });
                        } else {
                            console.log('valid param fail');
                        }
                    })
                },
                /**
                 * 重置参数
                 * @private
                 */
                _reset(formName) {
                    this.$refs[formName].resetFields();
                },

                showMsg(msg, type) {
                    this.$message({
                        message: msg,
                        type: type
                    });
                }

                // _login() {
                //     console.log('input username is : ' + this.username + ' input password is : ' + this.password);
                //     const authentication = {
                //         username: this.username,
                //         password: this.password
                //     }
                //     console.log(authentication);
                //     let stringify = JSON.stringify(authentication);
                //     console.log(stringify);
                //
                //     let xmlHttpRequest = new XMLHttpRequest();
                //     xmlHttpRequest.open("POST", "/login", true);
                //     xmlHttpRequest.setRequestHeader("Content-Type", "application/json");
                //     xmlHttpRequest.send(stringify);
                //     xmlHttpRequest.onreadystatechange = function () {
                //         if (xmlHttpRequest.readyState === 4 && xmlHttpRequest.status === 200) {
                //             console.log('async request success');
                //             let responseText = xmlHttpRequest.responseText;
                //             console.log('result data is : ' + responseText);
                //             let data = JSON.parse(responseText);
                //             console.log('data is : ' + data);
                //             alert(data.msg);
                //         }
                //     }
                // },
            }
        });
</script>
</html>